<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.jp.dm.dao.GoodsListMapper">



    <select id="findGoodsListById" parameterType="GoodsList" resultType="GoodsList">
        select * from goodsList where outputDelFlg=#{outputDelFlg} and goodsListId=#{goodsListId} limit 1
    </select>

    <select id="findGoodsListByBarcode" parameterType="GoodsList" resultType="GoodsList">
        select * from goodsList where outputDelFlg=#{outputDelFlg} and goodsBarcode=#{goodsBarcode} limit 1
    </select>

</mapper>