<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.jp.dm.dao.InputMapper">



    <select id="findInputList" parameterType="InputList" resultType="InputList">
        select * from inputList where inputDelFlg=#{inputDelFlg} and inputBigtypeId=#{inputBigtypeId} and inputMiddletypeId=#{inputMiddletypeId} and inputSmalltypeId=#{inputSmalltypeId} and inputDate>=#{trkDate}  and #{updDate}>=inputDate
    </select>

    <select id="findInputListById" parameterType="InputList" resultType="InputList">
        select * from inputList where inputDelFlg=#{inputDelFlg} and inputListId=#{inputListId}
    </select>

    <update id="updateInputData" parameterType="InputList">
        UPDATE inputList
        SET
        inputNum=#{inputNum},
        inputDiscount=#{inputDiscount},
        inputDate=#{inputDate},
        updDate=#{updDate}
        where
        inputListId=#{inputListId}
    </update>

    <update id="deleteInputData" parameterType="InputList">
        UPDATE inputList
        SET
        inputDelFlg=#{inputDelFlg},
        updDate=#{updDate}
        where
        inputListId=#{inputListId}
    </update>

</mapper>