<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.jp.dm.dao.StockListMapper">

    <select id="findAllStockListBykeyword" parameterType="StockList" resultType="StockList">
        select * from stockList where stockDelFlg=#{stockDelFlg} and stockBigtypeId=#{stockBigtypeId} and stockMiddletypeId=#{stockMiddletypeId} and stocksSmalltypeId=#{stocksSmalltypeId}
        <if test="stockWarehouseId>0">
            and stockWarehouseId = #{stockWarehouseId}
        </if>

    </select>

    <select id="findStockListByGoodsIdAndWarehouseId" parameterType="StockList" resultType="StockList">
        select * from stockList where goodsListId=#{goodsListId} and stockWarehouseId=#{stockWarehouseId}
    </select>


    <update id="updateStockNum" parameterType="java.util.List" useGeneratedKeys="true">

        <foreach collection="list" item="item" index="index" separator= ";" >
            UPDATE stockList
            set
            stockputNum=#{item.stockputNum},
            updDate=#{item.updDate}
            where
            goodsListId=#{item.goodsListId} and stockWarehouseId=#{item.stockWarehouseId}
        </foreach>

    </update>


    <update id="updateStockNumOneByOne" parameterType="StockList">
        UPDATE stockList
        SET
        stockputNum=stockputNum+#{stockputNum},
        updDate=#{updDate}
        where
        goodsListId=#{goodsListId} and  stockWarehouseId=#{stockWarehouseId}
    </update>

</mapper>