<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.jp.dm.dao.TypeMapper">

    <select id="findAllBigtype"  resultType="Bigtype">
        select * from bigtype where outputDelFlg=0
    </select>

    <select id="findMiddleTypeByBigtype" parameterType="Middletype" resultType="Middletype">
        select * from middletype where outputDelFlg=#{outputDelFlg} and bigtypeId=#{bigtypeId}
    </select>

    <select id="findSmallTypeByBigtype" parameterType="Smalltype" resultType="Smalltype">
        select * from smalltype where outputDelFlg=#{outputDelFlg} and bigtypeId=#{bigtypeId} and middletypeId=#{middletypeId}
    </select>

    <select id="findBigTypeByBigtypeId" parameterType="Bigtype" resultType="Bigtype">
        select * from bigtype where  bigtypeId=#{bigtypeId} limit 1
    </select>

    <select id="findMiddleTypeByMiddletypeId" parameterType="Middletype" resultType="Middletype">
        select * from middletype where  middletypeId=#{middletypeId} limit 1
    </select>

    <select id="findSmallTypeBySmalltypeId" parameterType="Smalltype" resultType="Smalltype">
        select * from smalltype where  smalltypeId=#{smalltypeId} limit 1
    </select>




    <update id="updateBigtypeDateBybigtype" parameterType="Bigtype">
        UPDATE bigtype
        SET
        bigtypeName=#{bigtypeName},
        updDate=#{updDate}
        where
        bigtypeId=#{bigtypeId}
    </update>

    <update id="deleteBigTypeByBigtype" parameterType="Bigtype">
        UPDATE bigtype
        SET
        outputDelFlg=#{outputDelFlg},
        updDate=#{updDate}
        where
        bigtypeId=#{bigtypeId}
    </update>

    <insert id="insertBigType" parameterType="Bigtype">
        insert into
        bigtype(bigtypeName, outputDelFlg,trkDate, updDate)
        values(
        #{bigtypeName},
        #{outputDelFlg},
        #{trkDate},
        #{updDate}
        )
    </insert>

    <select id="getLastInsertBigTypeId" resultType="int">
        select bigtypeId from bigtype ORDER BY bigtypeId DESC limit 1
    </select>




    <update id="updateMiddletypeDateByMiddletype" parameterType="Middletype">
        UPDATE middletype
        SET
        middletypeName=#{middletypeName},
        updDate=#{updDate}
        where
        middletypeId=#{middletypeId}
    </update>

    <update id="deleteMiddleTypeByMiddletype" parameterType="Middletype">
        UPDATE middletype
        SET
        outputDelFlg=#{outputDelFlg},
        updDate=#{updDate}
        where
        middletypeId=#{middletypeId}
    </update>

    <insert id="insertMiddleType" parameterType="Middletype">
        insert into
        middletype(bigtypeId,middletypeName, outputDelFlg,trkDate, updDate)
        values(
        #{bigtypeId},
        #{middletypeName},
        #{outputDelFlg},
        #{trkDate},
        #{updDate}
        )
    </insert>

    <select id="getLastInsertMiddleTypeId" resultType="int">
        select middletypeId from middletype ORDER BY middletypeId DESC limit 1
    </select>




    <update id="updateSmalltypeDateBySmalltype" parameterType="Smalltype">
        UPDATE smalltype
        SET
        smalltypeName=#{smalltypeName},
        updDate=#{updDate}
        where
        smalltypeId=#{smalltypeId}
    </update>

    <update id="deleteSmallTypeBySmalltype" parameterType="Smalltype">
        UPDATE smalltype
        SET
        outputDelFlg=#{outputDelFlg},
        updDate=#{updDate}
        where
        smalltypeId=#{smalltypeId}
    </update>

    <insert id="insertSmallType" parameterType="Smalltype">
        insert into
        smalltype(bigtypeId,middletypeId,smalltypeName, outputDelFlg,trkDate, updDate)
        values(
        #{bigtypeId},
        #{middletypeId},
        #{smalltypeName},
        #{outputDelFlg},
        #{trkDate},
        #{updDate}
        )
    </insert>

    <select id="getLastInsertSmallTypeId" resultType="int">
        select smalltypeId from smalltype ORDER BY smalltypeId DESC limit 1
    </select>






    <select id="findAllGoodsUnit"  resultType="GoodsUnit">
        select * from goodsUnit where outputDelFlg=0
    </select>

    <select id="findGoodUnitByGoodUnitId" parameterType="GoodsUnit" resultType="GoodsUnit">
        select * from goodsUnit where  goodsUnitId=#{goodsUnitId} limit 1
    </select>

    <update id="updateGoodsUnit" parameterType="GoodsUnit">
        UPDATE goodsUnit
        SET
        goodsUnitName=#{goodsUnitName},
        updDate=#{updDate}
        where
        goodsUnitId=#{goodsUnitId}
    </update>

    <update id="deleteGoodsUnit" parameterType="GoodsUnit">
        UPDATE goodsUnit
        SET
        outputDelFlg=#{outputDelFlg},
        updDate=#{updDate}
        where
        goodsUnitId=#{goodsUnitId}
    </update>

    <insert id="insertGoodsUnit" parameterType="GoodsUnit">
        insert into
        goodsUnit(goodsUnitName, outputDelFlg,trkDate, updDate)
        values(
        #{goodsUnitName},
        #{outputDelFlg},
        #{trkDate},
        #{updDate}
        )
    </insert>

    <select id="getLastInsertGoodsUnitId" resultType="int">
        select goodsUnitId from goodsUnit ORDER BY goodsUnitId DESC limit 1
    </select>





    <select id="findAllWarehouse"  resultType="Warehouse">
        select * from warehouse where outputDelFlg=0
    </select>

    <select id="findWarehouseByWarehouseId" parameterType="Warehouse" resultType="Warehouse">
        select * from warehouse where  warehouseId=#{warehouseId} limit 1
    </select>

    <update id="updateWarehouse" parameterType="Warehouse">
        UPDATE warehouse
        SET
        warehouseName=#{warehouseName},
        updDate=#{updDate}
        where
        warehouseId=#{warehouseId}
    </update>

    <update id="deleteWarehouse" parameterType="Warehouse">
        UPDATE warehouse
        SET
        outputDelFlg=#{outputDelFlg},
        updDate=#{updDate}
        where
        warehouseId=#{warehouseId}
    </update>

    <insert id="insertWarehouse" parameterType="Warehouse">
        insert into
        warehouse(userGroupName,warehouseName, outputDelFlg,trkDate, updDate)
        values(
        #{userGroupName},
        #{warehouseName},
        #{outputDelFlg},
        #{trkDate},
        #{updDate}
        )
    </insert>

    <select id="getLastInsertWarehouseId" resultType="int">
        select warehouseId from warehouse ORDER BY warehouseId DESC limit 1
    </select>

</mapper>